.calendar-mini {
  position: absolute;
  width: 400px;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 14px rgba(149, 155, 161, 0.3), 0px 0px 2px rgba(149, 155, 161, 0.6);
  border-radius: 4px;
  padding: 10px; }
  .calendar-mini .month-list {
    position: relative; }
    .calendar-mini .month-list > div {
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: #c9c9c9;
      font-size: 16px;
      user-select: none; }
  .calendar-mini .month-list > div:hover {
    color: #2ecc71 !important;
    font-family: "IBM Plex Sans", "IBMPlexSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; }
  .calendar-mini .days-list {
    position: relative; }
    .calendar-mini .days-list > div {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #aaaaaa;
      font-weight: 700;
      font-size: 16px;
      user-select: none; }
  .calendar-mini .month-days-list {
    position: relative; }
    .calendar-mini .month-days-list .month-day {
      width: 40px;
      height: 40px;
      margin: 5px;
      margin-left: 7px !important;
      text-align: center;
      line-height: 35px;
      color: black;
      font-weight: 400;
      font-size: 16px;
      user-select: none;
      border: 2px solid transparent; }
    .calendar-mini .month-days-list .month-day:hover {
      cursor: pointer;
      color: white;
      font-weight: 700;
      background-color: #2ecc71;
      border-radius: 50%; }
    .calendar-mini .month-days-list .month-day-focused {
      color: white;
      font-weight: 700;
      background-color: #2ecc71;
      border-radius: 50%; }
    .calendar-mini .month-days-list .current-day {
      color: black;
      border: 2px solid #2980b9 !important;
      border-radius: 50%; }
    .calendar-mini .month-days-list .holiday-day {
      border: 1px solid red;
      border-radius: 50%; }
