.select-area {
  position: absolute;
  z-index: 10000; }

.block-center {
  position: relative;
  display: table;
  height: 100%;
  width: 100%; }
  .block-center > div, .block-center > span, .block-center > p, .block-center h3, .block-center h4, .block-center h5 {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }

.col-padding {
  padding-top: 15px;
  padding-bottom: 15px; }
  .col-padding > div {
    max-width: 90%;
    margin: 0 5% 0 5%; }

.error-message {
  color: red;
  text-align: center; }

/* Input */
.gs-field {
  height: 45px;
  width: 100%;
  border: 1px solid grey;
  cursor: text;
  border-radius: 3px;
  position: relative;
  min-width: 180px;
  max-width: 360px; }
  .gs-field > .gs-field-input {
    top: 18px;
    padding-right: 0;
    height: 20px; }
  .gs-field > .gs-field-label {
    -webkit-transform: translateY(0) scaleY(0.85);
    transform: translateY(0) scaleY(0.85);
    transition-duration: 200ms;
    transition-timing-function: linear;
    z-index: 100;
    height: 20px;
    top: 13.5px;
    color: #959ba1;
    margin: 0 !important;
    text-align: start; }
  .gs-field > .gs-field-label, .gs-field .gs-field-input {
    font-family: "IBM Plex Sans", "IBMPlexSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 14px;
    display: block;
    width: 90%;
    left: 5%;
    position: absolute;
    resize: none;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis; }
    .gs-field > .gs-field-label > .gs-field-counter, .gs-field .gs-field-input > .gs-field-counter {
      position: absolute;
      top: 0;
      left: calc(100% - 50px);
      color: #959ba1; }

.gs-field-is-focused > .gs-field-label, .gs-field-is-filled > .gs-field-label {
  -webkit-transform: translateY(-15px) scaleY(0.85);
  transform: translateY(-15px) scaleY(0.85); }

.gs-field-is-focused {
  border: 1px solid #008c95 !important;
  box-shadow: 0 0 0px 1px #008c95 !important; }
  .gs-field-is-focused .pick-area {
    color: #008c95 !important;
    border-color: #008c95 !important;
    border-width: 1px !important; }

.gs-field-error {
  border: 1px solid red !important;
  box-shadow: 0 0 0px 1px red !important; }

.gs-field, .gs-field-input, .gs-field-is-focused, .gs-field-is-filled, .gs-field-label {
  outline: none !important; }

.gs-field:focus, .gs-field-input:focus, .gs-field-is-focused:focus, .gs-field-is-filled:focus, .gs-field-label:focus {
  outline: none !important; }

/* Date and picklist */
.field-date, .field-picklist {
  height: 45px;
  width: 100%;
  border: 1px solid grey !important;
  border-radius: 3px;
  position: relative;
  margin: 0;
  cursor: pointer; }
  .field-date .gs-field-input, .field-picklist .gs-field-input {
    cursor: pointer !important;
    position: relative;
    width: calc(100% - 50px); }
  .field-date .pick-area, .field-picklist .pick-area {
    position: absolute;
    top: -1px;
    left: calc(100% - 50px);
    top: 1px;
    width: 50px;
    height: calc(100% - 2px);
    border-left: 1px solid grey;
    padding: 5px;
    cursor: pointer;
    color: lightgrey;
    opacity: 1;
    background-color: white;
    z-index: 1000; }
    .field-date .pick-area .pick-icon, .field-picklist .pick-area .pick-icon {
      position: relative;
      font-size: 22px;
      text-align: center;
      z-index: 100;
      cursor: pointer !important;
      margin-top: 1px; }
  .field-date .pick-area:hover, .field-picklist .pick-area:hover {
    color: #008c95 !important; }

.field-picklist .pick-icon {
  transform: rotate(90deg);
  margin-right: 2px; }

/* Checkbox */
.field-checkbox-tile > .checkbox-check {
  position: relative;
  z-index: 1000;
  height: 20px;
  width: 20px;
  margin-left: calc(50% - 10px);
  margin-right: 10px;
  float: left;
  background: #FFFFFF;
  border: 2px solid #B2B2B2;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer; }

.field-checkbox-tile > .checkbox-check:hover {
  background-color: rgba(0, 0, 0, 0.08); }

.field-checkbox {
  height: 45px;
  outline: none !important;
  min-width: 180px;
  max-width: 360px; }
  .field-checkbox > .checkbox-check {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-top: 12.5px;
    margin-right: 10px;
    float: left;
    background: #FFFFFF;
    border: 2px solid #B2B2B2;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer; }
  .field-checkbox > .checkbox-check:hover {
    background-color: rgba(0, 0, 0, 0.08); }
  .field-checkbox > div:last-child {
    height: 20px;
    line-height: 45px;
    user-select: none; }

.field-checkbox.gs-field-is-filled > .checkbox-check, .field-checkbox-tile.gs-field-is-filled > .checkbox-check {
  background-color: #008C95;
  position: relative;
  border: none !important; }

.field-checkbox.gs-field-is-filled > .checkbox-check::before, .field-checkbox-tile.gs-field-is-filled > .checkbox-check::before {
  content: "";
  position: absolute;
  width: 13.8px;
  height: 2px;
  top: 9px;
  left: 5.7px;
  transform: rotate(135deg);
  background-color: white; }

.field-checkbox.gs-field-is-filled > .checkbox-check::after, .field-checkbox-tile.gs-field-is-filled > .checkbox-check::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  top: 8.5px;
  left: 4.7px;
  transform: rotate(-45deg);
  background-color: white; }

/* Buttons */
.def-md-btn {
  position: relative;
  background-color: #008c95;
  color: white;
  height: 45px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 360px;
  min-width: 180px; }

.def-md-btn:hover {
  background-color: white;
  cursor: pointer;
  color: #008c95;
  border: 1px solid #008c95; }

.shadow-md-btn {
  position: relative;
  background-color: #F1F1F1;
  color: black;
  height: 45px;
  border: 1px solid transparent;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 360px;
  min-width: 180px; }

.shadow-md-btn:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid black; }

.row-actions > .action-md {
  height: 100%;
  margin: 0; }

.row-actions .tile-edit, .row-actions .tile-delete {
  visibility: hidden; }

.row-actions .tile-edit, .row-actions .tile-delete, .row-actions .tile-confg, .row-actions .tile-create {
  position: relative;
  width: 40px !important;
  height: 40px !important;
  margin: auto;
  z-index: 1000; }
  .row-actions .tile-edit :hover, .row-actions .tile-edit :focus, .row-actions .tile-delete :hover, .row-actions .tile-delete :focus, .row-actions .tile-confg :hover, .row-actions .tile-confg :focus, .row-actions .tile-create :hover, .row-actions .tile-create :focus {
    color: #008c95;
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 20%; }
