.label-xs, .label-think-xs, .label-fat-xs,
.label-sm, .label-think-sm, .label-fat-sm,
.label-md, .label-think-md, .label-fat-md,
.label-lg, .label-think-lg, .label-fat-lg {
    font-family: IBM Plex Sans;
    text-align: center
}

.label-lg {
    font-weight: normal;
    font-size: 32px;
}

.label-think-lg {
    font-weight: normal;
    font-size: 32px;
    color: #6a6a6a;
}

.label-fat-lg {
    font-weight: bold;
    font-size: 32px;
}

.label-md {
    font-weight: normal;
    font-size: 22px;
    line-height: 40px
}

.label-think-md {
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    color: #6a6a6a;
}

.label-fat-md {
    font-weight: 600;
    font-size: 22px;
    line-height: 40px
}

.label-sm {
    font-weight: normal;
    font-size: 18px;
}

.label-think-sm {
    font-weight: normal;
    font-size: 18px;
    color: #6a6a6a;
}

.label-fat-sm {
    font-weight: 600;
    font-size: 18px;
}

.label-xs {
    font-weight: normal;
    font-size: 16px;
}

.label-think-xs {
    font-weight: normal;
    font-size: 16px;
    color: #6a6a6a;
}

.label-fat-xs {
    font-weight: 600;
    font-size: 16px;
}

.label-think-md {
    line-height: 40px;
    cursor: pointer;
    color: lightgray;
    user-select: none;
    margin: 0
}

.label-think-md:hover {
    color: #2ecc71 !important
}