.gs-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  margin: auto; }
  .gs-tabs .gs-tab, .gs-tabs .gs-tab-focused {
    cursor: pointer;
    margin-right: 15px; }
    .gs-tabs .gs-tab > div:first-child, .gs-tabs .gs-tab-focused > div:first-child {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #76797B; }
  .gs-tabs .gs-tab-focused > div:last-child {
    background: #008C95;
    border-radius: 1.5px;
    height: 3px; }
