@{
    Layout = "_AuthLayout";
}
@inject GSCrm.Localization.ResManager resManager
<div class="container container-md mt-3">
    <div class="mb-3"><p class="label-lg text-center">@resManager.GetString("ResetPasswordMessage")</p></div>
    <form method="get" class="text-center" asp-controller="Auth" asp-action="Index">
        <input type="submit" class="btn btn-outline-dark" value="@resManager.GetString("BackToMainPage")" />
    </form>
</div>