@{
    Layout = "_AuthLayout";
}
@inject GSCrm.Localization.ResManager resManager
@model GSCrm.Models.ViewModels.UserModel
<div class="container container-md mt-3">
    <div class="text-center mb-5">
        <p class="label-lg">@resManager.GetString("ResetPasswordSpecifyEmail")</p>
    </div>
    <form method="post" asp-controller="Auth" asp-action="ResetPasswordSendEmail">
        <div asp-validation-summary="All"></div>
        <div class="form-group mb-5">
            <input type="text" asp-for="Email" class="form-control" placeholder="@resManager.GetString("Email")" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col text-left">
                    <input type="submit" class="btn btn-outline-primary" value="@resManager.GetString("ResetPasswordLabel")" />
                </div>
                <div class="col text-right">
                    <a asp-controller="Auth" asp-action="Index" class="btn btn-outline-dark">@resManager.GetString("BackToMainPage")</a>
                </div>
            </div>
        </div>
    </form>
</div>