.gs-navbar {
  background-color: #fff;
  height: 50px; }
  .gs-navbar .gs-nav-brand {
    margin-left: 50px;
    height: 50px;
    user-select: none; }
    .gs-navbar .gs-nav-brand h3 {
      line-height: 50px;
      margin: 0; }
  .gs-navbar .gs-nav-toggler {
    margin-left: 20px;
    width: 50px;
    text-align: center;
    cursor: pointer; }
    .gs-navbar .gs-nav-toggler .icon-menu {
      font-size: 30px;
      line-height: 50px;
      color: #008c95; }
  .gs-navbar .gs-nav-toggler-brand {
    display: none;
    user-select: none;
    width: 120px;
    text-align: center;
    cursor: pointer; }
    .gs-navbar .gs-nav-toggler-brand h4 {
      line-height: 50px;
      color: #008c95;
      margin: 0; }

.gs-nav-area {
  position: fixed;
  top: 55px;
  height: 500px;
  display: none;
  z-index: 2000;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #EEEEEE;
  opacity: 1;
  box-shadow: 0px 8px 14px rgba(149, 155, 161, 0.2), 0px 0px 2px rgba(149, 155, 161, 0.6); }
  .gs-nav-area .divider-mr-md {
    background-color: black; }
  .gs-nav-area .gs-nav-area-header {
    width: 100%;
    margin: 0; }
    .gs-nav-area .gs-nav-area-header p {
      width: 100%;
      margin: 0;
      user-select: none; }
  .gs-nav-area .gs-nav-area-body {
    width: 100%;
    margin-left: 0%; }
    .gs-nav-area .gs-nav-area-body .gs-nav-item {
      color: black; }
    .gs-nav-area .gs-nav-area-body .gs-nav-item, .gs-nav-area .gs-nav-area-body .gs-nav-item-static {
      position: relative;
      height: 100px;
      text-align: center;
      user-select: none; }
      .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short {
        height: 100%; }
        .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link > .col, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link .col-auto, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short > .col, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short .col-auto, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link > .col, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link .col-auto, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short > .col, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short .col-auto {
          align-self: center; }
          .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link > .col > p, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link .col-auto > p, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short > .col > p, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short .col-auto > p, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link > .col > p, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link .col-auto > p, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short > .col > p, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short .col-auto > p {
            position: relative;
            margin: 0;
            font-family: IBM Plex Sans;
            font-size: 19px;
            margin-top: 5px; }
          .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link > .col > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link .col-auto > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short > .col > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short .col-auto > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link > .col > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link .col-auto > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short > .col > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short .col-auto > p:last-child {
            width: 95%;
            height: 2px;
            margin-left: 2.5%;
            background-color: transparent; }
      .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%; }
    .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link > .col:hover > p:first-child, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short > .col:hover > p:first-child {
      color: #008C95;
      cursor: pointer; }
    .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link > .col:hover > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item .gs-nav-link-short > .col:hover > p:last-child {
      background-color: #008C95; }
    .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link > .col > p:first-child, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short > .col > p:first-child {
      color: #008C95;
      cursor: pointer; }
    .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link > .col > p:last-child, .gs-nav-area .gs-nav-area-body .gs-nav-item-static .gs-nav-link-short > .col > p:last-child {
      background-color: #008C95; }
  .gs-nav-area .gs-nav-area-header .expand-items, .gs-nav-area .gs-nav-area-body .expand-items {
    cursor: pointer;
    width: 80px;
    height: 80px; }
    .gs-nav-area .gs-nav-area-header .expand-items > .expand-icon, .gs-nav-area .gs-nav-area-body .expand-items > .expand-icon {
      position: absolute;
      font-size: 21px;
      top: 29.5px;
      right: 29.5px; }
  .gs-nav-area .gs-nav-area-header .hide-items, .gs-nav-area .gs-nav-area-body .hide-items {
    cursor: pointer;
    width: 60px;
    height: 60px; }
    .gs-nav-area .gs-nav-area-header .hide-items > .hide-icon, .gs-nav-area .gs-nav-area-body .hide-items > .hide-icon {
      position: absolute;
      font-size: 21px;
      top: 19.5px;
      right: 19.5px; }
  .gs-nav-area .gs-nav-area-header .expand-items, .gs-nav-area .gs-nav-area-header .hide-items, .gs-nav-area .gs-nav-area-body .expand-items, .gs-nav-area .gs-nav-area-body .hide-items {
    cursor: pointer; }
    .gs-nav-area .gs-nav-area-header .expand-items > .expand-icon, .gs-nav-area .gs-nav-area-header .expand-items .hide-icon, .gs-nav-area .gs-nav-area-header .hide-items > .expand-icon, .gs-nav-area .gs-nav-area-header .hide-items .hide-icon, .gs-nav-area .gs-nav-area-body .expand-items > .expand-icon, .gs-nav-area .gs-nav-area-body .expand-items .hide-icon, .gs-nav-area .gs-nav-area-body .hide-items > .expand-icon, .gs-nav-area .gs-nav-area-body .hide-items .hide-icon {
      position: absolute;
      font-size: 21px; }
  .gs-nav-area .gs-nav-area-header .expand-items:hover, .gs-nav-area .gs-nav-area-header .hide-items:hover, .gs-nav-area .gs-nav-area-body .expand-items:hover, .gs-nav-area .gs-nav-area-body .hide-items:hover {
    color: #008C95; }

@media all and (max-width: 1200px) {
  .gs-nav-area {
    width: 95%;
    margin-left: 2.5%; } }

@media all and (min-width: 1200px) {
  .gs-nav-area {
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    margin-right: calc((100% - 1200px) / 2); } }
