@using static GSCrm.CommonConsts
@using GSCrm.Data.ApplicationInfo
<div class="list-nav row no-gutters justify-content-center mt-3">
    @if (Model.ItemsCount > 0 && Model.ViewInfo.CurrentPageNumber != DEFAULT_MIN_PAGE_NUMBER)
    {
        <div class="col">
            <div class="nav-previous">
                <div class="nav-url" href="@Url.Action((string)Model.ActionName, (string)Model.ControllerName, new { pageNumber = Model.ViewInfo.CurrentPageNumber - DEFAULT_PAGE_STEP })">
                    <span class="icon-chevron-thin-left"></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="nav-previous">
                <div class="nav-url">
                    <span class="icon-chevron-thin-left"></span>
                </div>
            </div>
        </div>
    }
    @if (Model.ItemsCount >= DEFAULT_ITEMS_COUNT)
    {
        <div class="col">
            <div class="nav-next">
                <div class="nav-url" href="@Url.Action((string)Model.ActionName, (string)Model.ControllerName, new { pageNumber = Model.ViewInfo.CurrentPageNumber + DEFAULT_PAGE_STEP })">
                    <span class="icon-chevron-thin-right"></span>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <div class="nav-next">
                <div class="nav-url">
                    <span class="icon-chevron-thin-right"></span>
                </div>
            </div>
        </div>
    }
</div>