@{
    Layout = "_Layout";
}
@model UserViewModel
<div id="userAccountForm">
    <div class="row">
        <div class="col">
            <div class="user-avatar">
                <img src="@Model.AvatarPath" />
                <span class="icon-search"></span>
            </div>
        </div>
    </div>
</div>  