@using static GSCrm.CommonConsts
@using GSCrm.Data.ApplicationInfo
@using GSCrm.Helpers
@inject ResManager resManager
@model PositionViewModel
@inject IViewsInfo viewsInfo
@{
    int positionEmployeesCount = Model.PositionEmployees.Count;
}

<div class="tab-pane fade" id="employees" role="tabpanel" aria-labelledby="employees-tab">
    @* // Фильтр по сотрудникам *@
    @if (positionEmployeesCount > 0)
    {
        await Html.RenderPartialAsync($"{POS_VIEWS_REL_PATH}Partial/PositionEmployeesFilter.cshtml");
    }
    <div class="form-group">
        <form id="positionEmpList" class="table-wrapper">
            <table class="fl-table @(positionEmployeesCount > 0 ? "" : "empty-table")">
                <thead>
                    @if (positionEmployeesCount > 0)
                    {
                        <tr>
                            <th class="label-non-select">@resManager.GetString("FullName")</th>
                        </tr>
                    }
                    else { <tr><th></th><th></th></tr> }
                </thead>
                <tbody>
                    @if (positionEmployeesCount == 0)
                    {
                        <tr>
                            <td><img src="~/img/default-empty.svg" /></td>
                            <td>@resManager.GetString("ESPositionEmployees")</td>
                        </tr>
                    }
                    @foreach (EmployeeViewModel employee in Model.PositionEmployees)
                    {
                        <tr>
                            <td class="tooltip-cell-src tooltip-cell-link position-employee-item">@Html.ActionLink(employee.FullInitialName, EMPLOYEE, EMPLOYEE, new { id = employee.Id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        @{
            await Html.RenderPartialAsync("Partial/Navigation", new NavbarRenderSettings
            {
                ItemsCount = Model.PositionEmployees.Count(),
                ViewInfo = viewsInfo.Get(POS_EMPLOYEES),
                ControllerName = POS_EMPLOYEE,
                ActionName = POS_EMPLOYEES
            });
        }
    </div>
</div>