<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GSCrm</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/Applets.css" />
    <link rel="stylesheet" href="~/css/Application.css" />
    <link rel="stylesheet" href="~/css/Calendar.css" />
    <link rel="stylesheet" href="~/css/Controls.css" /> 
    <link rel="stylesheet" href="~/css/Divider.css" />
    <link rel="stylesheet" href="~/css/Fonts.css" />
    <link rel="stylesheet" href="~/css/Mask.css" />
    <link rel="stylesheet" href="~/css/Modal.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link rel="stylesheet" href="~/css/Picklist.css" />
    <link rel="stylesheet" href="~/css/Tabs.css" />

</head>
<body>
    <div class='cssload-wrapper d-none'>
        <div class='cssload-loader'>
            <div class='cssload-inner cssload-one'></div>
            <div class='cssload-inner cssload-two'></div>
            <div class='cssload-inner cssload-three'></div>
        </div>
    </div>
    <div class="all-popup d-none">
        <div class="all-popup-modal"></div>
        <div class="all-popup-notify"></div>
    </div>
    <div class="select-area d-none"></div>
    <div class="mask-all-screen d-none"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GSCrm</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCTable" asp-action="Tables">Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCBusComp" asp-action="BusinessComponents">Business components</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCPickList" asp-action="PickLists">PickLists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCBusObject" asp-action="BusinessObjects">Business objects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCLink" asp-action="Links">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCApplet" asp-action="Applets">Applets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCPhysicalRender" asp-action="PhysicalRenders">Physical Renders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCIcon" asp-action="Icons">Icons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCAction" asp-action="Actions">Actions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCView" asp-action="Views">Views</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MVCScreen" asp-action="Screens">Screens</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li id="authorization" class="nav-item">
                            <a class="nav-link text-dark" style="cursor: pointer">Authorization</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="large-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - KinoFuxi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/Pages/_Layout.js"></script>
    <script src="~/js/Common/userProperties.js"></script>
    <script src="~/js/Requests/requestsToDB.js"></script>
    <script src="~/js/PhysicalRender/commonApplets.js"></script>
    <script src="~/js/PhysicalRender/appletActions.js"></script>
    <script src="~/js/PhysicalRender/formApplets.js"></script>
    <script src="~/js/PhysicalRender/tileApplets.js"></script>
    <script src="~/js/PhysicalRender/popupApplets.js"></script>
    <script src="~/js/PhysicalRender/Custom/Col2FieldsActions.js"></script>
    <script src="~/js/PhysicalRender/Custom/DefaultTileAppletPR.js"></script>
    <script src="~/js/PhysicalRender/Custom/DefaultScreenPR.js"></script>
    <script src="~/js/PhysicalRender/commonView.js"></script>
    <script src="~/js/Blocks/calendar.js"></script>
    <script src="~/js/Blocks/pisklist.js"></script>
    <script src="~/js/PhysicalRender/commonScreen.js"></script>
    <script src="~/js/PhysicalRender/commonInfo.js"></script>
    <script src="~/js/Blocks/controls.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
