#divisionsFilter .card,
#positionsFilter .card,
#employeesFilter .card,
#contactsFilter .card,
#allAccountsFilter .card,
#currentAccountsFilter .card,
#subPositionsFilter .card,
#posEmployeesFilter .card,
#subordinatesFilter
.accordion .card {
  border-top: none !important; }

#divisionsFilter .card:first-of-type,
#positionsFilter .card:first-of-type,
#employeesFilter .card:first-of-type,
#contactsFilter .card:first-of-type,
#allAccountsFilter .card:first-of-type,
#currentAccountsFilter .card:first-of-type,
#subPositionsFilter .card:first-of-type,
#posEmployeesFilter .card:first-of-type,
#subordinatesFilter
.accordion .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

#accContactsFilter .card:first-of-type,
#accAddressesFilter .card:first-of-type,
#accInvoicesFilter .card:first-of-type,
#subordinatesFilter .card:first-of-type,
#posEmployeesFilter .card:first-of-type,
#subPositionsFilter .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

#accContactsFilter #accContactsActions,
#accContactsFilter #accAddressesActions,
#accContactsFilter #accInvoicesActions,
#accAddressesFilter #accContactsActions,
#accAddressesFilter #accAddressesActions,
#accAddressesFilter #accInvoicesActions,
#accInvoicesFilter #accContactsActions,
#accInvoicesFilter #accAddressesActions,
#accInvoicesFilter #accInvoicesActions,
#subordinatesFilter #accContactsActions,
#subordinatesFilter #accAddressesActions,
#subordinatesFilter #accInvoicesActions,
#posEmployeesFilter #accContactsActions,
#posEmployeesFilter #accAddressesActions,
#posEmployeesFilter #accInvoicesActions,
#subPositionsFilter #accContactsActions,
#subPositionsFilter #accAddressesActions,
#subPositionsFilter #accInvoicesActions {
  width: 100%; }

#contactsFilter #collapseContacts .dropdown-area,
#contactsFilter #collapsePositions .dropdown-area,
#positionsFilter #collapseContacts .dropdown-area,
#positionsFilter #collapsePositions .dropdown-area {
  margin-top: 3px; }

#accContactsFilter #searchContactTypeBlock > .dropdown-area .dropdown-el,
#accContactsFilter #searchAddressTypeBlock > .dropdown-area .dropdown-el,
#accAddressesFilter #searchContactTypeBlock > .dropdown-area .dropdown-el,
#accAddressesFilter #searchAddressTypeBlock > .dropdown-area .dropdown-el {
  margin-top: 5px; }

#accContactsFilter #searchContactTypeBlock > div,
#accContactsFilter #searchAddressTypeBlock > div,
#accAddressesFilter #searchContactTypeBlock > div,
#accAddressesFilter #searchAddressTypeBlock > div {
  width: 100%; }

#accContactsFilter #searchContactPrimarySign {
  margin-left: 0; }
