.label-sm {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.label-md {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.label-bold-md {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.label-lg {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.label-non-select {
    user-select: none
}

.fl-table-label {
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}