#organizationsList td {
  cursor: pointer;
  position: relative; }
  #organizationsList td a {
    text-decoration: none;
    color: black;
    font-size: 16px; }
  #organizationsList td a:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 40px;
    width: 100%;
    background-color: transparent; }

#divisionsList .division-item,
#divisionsList .position-item,
#divisionsList .employee-item,
#divisionsList .employee-position-item,
#divisionsList .position-employee-item,
#divisionsList .account-item,
#divisionsList .subordinate-item,
#divisionsList .position-subpos-item,
#positionsList .division-item,
#positionsList .position-item,
#positionsList .employee-item,
#positionsList .employee-position-item,
#positionsList .position-employee-item,
#positionsList .account-item,
#positionsList .subordinate-item,
#positionsList .position-subpos-item,
#employeesList .division-item,
#employeesList .position-item,
#employeesList .employee-item,
#employeesList .employee-position-item,
#employeesList .position-employee-item,
#employeesList .account-item,
#employeesList .subordinate-item,
#employeesList .position-subpos-item,
#employeePositionsList .division-item,
#employeePositionsList .position-item,
#employeePositionsList .employee-item,
#employeePositionsList .employee-position-item,
#employeePositionsList .position-employee-item,
#employeePositionsList .account-item,
#employeePositionsList .subordinate-item,
#employeePositionsList .position-subpos-item,
#positionEmpList .division-item,
#positionEmpList .position-item,
#positionEmpList .employee-item,
#positionEmpList .employee-position-item,
#positionEmpList .position-employee-item,
#positionEmpList .account-item,
#positionEmpList .subordinate-item,
#positionEmpList .position-subpos-item,
#allAccounts .division-item,
#allAccounts .position-item,
#allAccounts .employee-item,
#allAccounts .employee-position-item,
#allAccounts .position-employee-item,
#allAccounts .account-item,
#allAccounts .subordinate-item,
#allAccounts .position-subpos-item,
#currentAccounts .division-item,
#currentAccounts .position-item,
#currentAccounts .employee-item,
#currentAccounts .employee-position-item,
#currentAccounts .position-employee-item,
#currentAccounts .account-item,
#currentAccounts .subordinate-item,
#currentAccounts .position-subpos-item,
#employeeSubordinatesList .division-item,
#employeeSubordinatesList .position-item,
#employeeSubordinatesList .employee-item,
#employeeSubordinatesList .employee-position-item,
#employeeSubordinatesList .position-employee-item,
#employeeSubordinatesList .account-item,
#employeeSubordinatesList .subordinate-item,
#employeeSubordinatesList .position-subpos-item,
#positionSubPosList .division-item,
#positionSubPosList .position-item,
#positionSubPosList .employee-item,
#positionSubPosList .employee-position-item,
#positionSubPosList .position-employee-item,
#positionSubPosList .account-item,
#positionSubPosList .subordinate-item,
#positionSubPosList .position-subpos-item {
  position: relative; }
  #divisionsList .division-item > a,
  #divisionsList .position-item > a,
  #divisionsList .employee-item > a,
  #divisionsList .employee-position-item > a,
  #divisionsList .position-employee-item > a,
  #divisionsList .account-item > a,
  #divisionsList .subordinate-item > a,
  #divisionsList .position-subpos-item > a,
  #positionsList .division-item > a,
  #positionsList .position-item > a,
  #positionsList .employee-item > a,
  #positionsList .employee-position-item > a,
  #positionsList .position-employee-item > a,
  #positionsList .account-item > a,
  #positionsList .subordinate-item > a,
  #positionsList .position-subpos-item > a,
  #employeesList .division-item > a,
  #employeesList .position-item > a,
  #employeesList .employee-item > a,
  #employeesList .employee-position-item > a,
  #employeesList .position-employee-item > a,
  #employeesList .account-item > a,
  #employeesList .subordinate-item > a,
  #employeesList .position-subpos-item > a,
  #employeePositionsList .division-item > a,
  #employeePositionsList .position-item > a,
  #employeePositionsList .employee-item > a,
  #employeePositionsList .employee-position-item > a,
  #employeePositionsList .position-employee-item > a,
  #employeePositionsList .account-item > a,
  #employeePositionsList .subordinate-item > a,
  #employeePositionsList .position-subpos-item > a,
  #positionEmpList .division-item > a,
  #positionEmpList .position-item > a,
  #positionEmpList .employee-item > a,
  #positionEmpList .employee-position-item > a,
  #positionEmpList .position-employee-item > a,
  #positionEmpList .account-item > a,
  #positionEmpList .subordinate-item > a,
  #positionEmpList .position-subpos-item > a,
  #allAccounts .division-item > a,
  #allAccounts .position-item > a,
  #allAccounts .employee-item > a,
  #allAccounts .employee-position-item > a,
  #allAccounts .position-employee-item > a,
  #allAccounts .account-item > a,
  #allAccounts .subordinate-item > a,
  #allAccounts .position-subpos-item > a,
  #currentAccounts .division-item > a,
  #currentAccounts .position-item > a,
  #currentAccounts .employee-item > a,
  #currentAccounts .employee-position-item > a,
  #currentAccounts .position-employee-item > a,
  #currentAccounts .account-item > a,
  #currentAccounts .subordinate-item > a,
  #currentAccounts .position-subpos-item > a,
  #employeeSubordinatesList .division-item > a,
  #employeeSubordinatesList .position-item > a,
  #employeeSubordinatesList .employee-item > a,
  #employeeSubordinatesList .employee-position-item > a,
  #employeeSubordinatesList .position-employee-item > a,
  #employeeSubordinatesList .account-item > a,
  #employeeSubordinatesList .subordinate-item > a,
  #employeeSubordinatesList .position-subpos-item > a,
  #positionSubPosList .division-item > a,
  #positionSubPosList .position-item > a,
  #positionSubPosList .employee-item > a,
  #positionSubPosList .employee-position-item > a,
  #positionSubPosList .position-employee-item > a,
  #positionSubPosList .account-item > a,
  #positionSubPosList .subordinate-item > a,
  #positionSubPosList .position-subpos-item > a {
    color: black; }
  #divisionsList .division-item > a:after,
  #divisionsList .position-item > a:after,
  #divisionsList .employee-item > a:after,
  #divisionsList .employee-position-item > a:after,
  #divisionsList .position-employee-item > a:after,
  #divisionsList .account-item > a:after,
  #divisionsList .subordinate-item > a:after,
  #divisionsList .position-subpos-item > a:after,
  #positionsList .division-item > a:after,
  #positionsList .position-item > a:after,
  #positionsList .employee-item > a:after,
  #positionsList .employee-position-item > a:after,
  #positionsList .position-employee-item > a:after,
  #positionsList .account-item > a:after,
  #positionsList .subordinate-item > a:after,
  #positionsList .position-subpos-item > a:after,
  #employeesList .division-item > a:after,
  #employeesList .position-item > a:after,
  #employeesList .employee-item > a:after,
  #employeesList .employee-position-item > a:after,
  #employeesList .position-employee-item > a:after,
  #employeesList .account-item > a:after,
  #employeesList .subordinate-item > a:after,
  #employeesList .position-subpos-item > a:after,
  #employeePositionsList .division-item > a:after,
  #employeePositionsList .position-item > a:after,
  #employeePositionsList .employee-item > a:after,
  #employeePositionsList .employee-position-item > a:after,
  #employeePositionsList .position-employee-item > a:after,
  #employeePositionsList .account-item > a:after,
  #employeePositionsList .subordinate-item > a:after,
  #employeePositionsList .position-subpos-item > a:after,
  #positionEmpList .division-item > a:after,
  #positionEmpList .position-item > a:after,
  #positionEmpList .employee-item > a:after,
  #positionEmpList .employee-position-item > a:after,
  #positionEmpList .position-employee-item > a:after,
  #positionEmpList .account-item > a:after,
  #positionEmpList .subordinate-item > a:after,
  #positionEmpList .position-subpos-item > a:after,
  #allAccounts .division-item > a:after,
  #allAccounts .position-item > a:after,
  #allAccounts .employee-item > a:after,
  #allAccounts .employee-position-item > a:after,
  #allAccounts .position-employee-item > a:after,
  #allAccounts .account-item > a:after,
  #allAccounts .subordinate-item > a:after,
  #allAccounts .position-subpos-item > a:after,
  #currentAccounts .division-item > a:after,
  #currentAccounts .position-item > a:after,
  #currentAccounts .employee-item > a:after,
  #currentAccounts .employee-position-item > a:after,
  #currentAccounts .position-employee-item > a:after,
  #currentAccounts .account-item > a:after,
  #currentAccounts .subordinate-item > a:after,
  #currentAccounts .position-subpos-item > a:after,
  #employeeSubordinatesList .division-item > a:after,
  #employeeSubordinatesList .position-item > a:after,
  #employeeSubordinatesList .employee-item > a:after,
  #employeeSubordinatesList .employee-position-item > a:after,
  #employeeSubordinatesList .position-employee-item > a:after,
  #employeeSubordinatesList .account-item > a:after,
  #employeeSubordinatesList .subordinate-item > a:after,
  #employeeSubordinatesList .position-subpos-item > a:after,
  #positionSubPosList .division-item > a:after,
  #positionSubPosList .position-item > a:after,
  #positionSubPosList .employee-item > a:after,
  #positionSubPosList .employee-position-item > a:after,
  #positionSubPosList .position-employee-item > a:after,
  #positionSubPosList .account-item > a:after,
  #positionSubPosList .subordinate-item > a:after,
  #positionSubPosList .position-subpos-item > a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: transparent; }

.list-nav .nav-previous, .list-nav .nav-next {
  font-size: 22px;
  text-align: center;
  height: 100%; }
  .list-nav .nav-previous > .nav-url, .list-nav .nav-next > .nav-url {
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
    cursor: pointer; }
    .list-nav .nav-previous > .nav-url .icon-chevron-thin-left, .list-nav .nav-previous > .nav-url .icon-chevron-thin-right, .list-nav .nav-next > .nav-url .icon-chevron-thin-left, .list-nav .nav-next > .nav-url .icon-chevron-thin-right {
      position: absolute;
      transform: rotate(90deg);
      display: inline-block;
      top: 14px;
      left: 14px; }
    .list-nav .nav-previous > .nav-url > a, .list-nav .nav-next > .nav-url > a {
      position: relative;
      z-index: 100;
      opacity: 0; }
  .list-nav .nav-previous > div:hover, .list-nav .nav-next > div:hover {
    color: #007bff; }
