#divisionModal .modal-body .form-group div {
  margin-bottom: 20px; }

#employeePosisionModal .modal-footer .row {
  width: 100%; }
  #employeePosisionModal .modal-footer .row .col:last-child {
    text-align: end; }

#accountModal .tabs-content #IEOption, #accountModal .tabs-content #LEOption {
  display: none; }

#accountModal .modal-body input[type="number"]::-webkit-outer-spin-button,
#accountModal .modal-body input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#accTeamManagementModal #teamAllEmployees #allEmployeesList {
  width: 100%; }

#accTeamManagementModal #teamAllEmployees #allEmployeesNav {
  width: 100%; }

#accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList {
  width: 90%;
  overflow: auto;
  margin-left: 5%; }
  #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card {
    display: flex;
    min-width: 100%;
    height: 150px; }
    #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content {
      margin: 5px;
      min-width: 250px;
      max-width: 250px;
      margin: auto;
      margin-left: 5px;
      margin-right: 5px; }
      #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager {
        height: 110px; }
        #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager > div > h5 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager .oval-mark {
          z-index: 1000; }
      #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager:not([class="list-group-item account-manager primary-manager"]) {
        cursor: pointer; }
      #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content .account-manager-selected {
        border-color: red; }
    #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content:first-child {
      margin-left: 10px; }
    #accTeamManagementModal #teamSelectedEmployees #selectedEmployeesList .list-card .list-card-content:last-child {
      margin-right: 10px; }

#accTeamManagementModal .modal-footer > .row {
  width: 100%; }

#changeLEAddrModal #accAddressNotLegalList {
  max-height: 300px; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item:first-child {
    margin-top: 10px; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item:last-child {
    margin-bottom: 10px; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item:not([class*="active"]) {
    cursor: pointer; }
  #changeLEAddrModal #accAddressNotLegalList .list-group-item[class*="active"] {
    user-select: none; }
