#divisionModal .modal-body .form-group div {
    margin-bottom: 20px
}

#employeePosisionModal {
    .modal-footer .row {
        width: 100%;
        .col:last-child {
            text-align: end
        }
    }
}

#accountModal {
    .tabs-content {
        #IEOption, #LEOption {
            display: none
        }
    }

    .modal-body {
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

#accTeamManagementModal {
    #teamAllEmployees {
        #allEmployeesList {
            width: 100%
        }

        #allEmployeesNav {
            width: 100%;
        }
    }

    #teamSelectedEmployees {
        #selectedEmployeesList {
            width: 90%;
            overflow: auto;
            margin-left: 5%;

            .list-card {
                display: flex;
                min-width: 100%;
                height: 150px;

                .list-card-content {
                    margin: 5px;
                    min-width: 250px;
                    max-width: 250px;
                    margin: auto;
                    margin-left: 5px;
                    margin-right: 5px;

                    .account-manager {
                        height: 110px;

                        > div > h5 {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .oval-mark {
                            z-index: 1000
                        }
                    }

                    .account-manager:not([class="list-group-item account-manager primary-manager"]) {
                        cursor: pointer
                    }

                    .account-manager-selected {
                        border-color: red
                    }
                }

                .list-card-content:first-child {
                    margin-left: 10px
                }

                .list-card-content:last-child {
                    margin-right: 10px
                }
            }
        }
    }

    .modal-footer {
        > .row {
            width: 100%
        }
    }
}

#changeLEAddrModal {
    #accAddressNotLegalList {
        max-height: 300px;

        .list-group-item:first-child {
            margin-top: 10px
        }

        .list-group-item:last-child {
            margin-bottom: 10px
        }

        .list-group-item:not([class*="active"]) {
            cursor: pointer;
        }

        .list-group-item[class*="active"] {
            user-select: none
        }
    }
}