@using GSCrm.Models.ViewModels
@using GSCrm.Data.ApplicationInfo
@using static GSCrm.CommonConsts
@inject ResManager resManager
@inject IViewsInfo viewsInfo
@model QuotesViewModel
@{
    ViewInfo allQuotesView = viewsInfo.Get(ALL_QUOTES);
}
<div class="tab-pane fade" id="allQuotes" role="tabpanel" aria-labelledby="allQuotesTab">
    @* // Фильтр по сделкам *@
    @{ await Html.RenderPartialAsync($"{QT_VIEWS_REL_PATH}Partial/AllQuotesFilter.cshtml"); }
</div>